.navbar {
    float: right;
    text-align: center;
}
li {
    display: inline;
}
h1 {
    text-align: center;
    margin-left: 100px;
    float: left;
    background-color: #4aaaa5;
    color: #ffffff;
}
h2 {
    color: #4aaaa5;
}
img {
    width: 25%;
    height: 25%;
}
.main-content {
    text-align: center;
    margin: auto;
}
.header {
    background-color: #ffffff;
    border-color: #cccccc;
}
.footer {
    position: relative;
    text-align: center;
    background-color: #666666;
    border-top-color: #4aaaa5;

}
form {
    padding: 20px;
}
div {
    border-color: black;
    padding: 25px;
}