.navbar {
    float: right;
    text-align: center;
}
li {
    display: inline;
    margin: 3px;
}
h1 {
    text-align: center;
    margin-left: 100px;
    float: left;
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif
}
h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img {
    width: 25%;
    height: 25%;
}
.main-content {
    text-align: center;
    margin: auto;
    border-color: #dddddd;
    background-color: #ffffff;
    width: 960px;
}
.header {
    background-color: #ffffff;
    border-color: #cccccc;
}
.footer {
    position: relative;
    text-align: center;
    background-color: #666666;
    border-top-color: #4aaaa5;
    font-family: Arial, 'Helvetica neue', Helvetica, sans-serif;
    color: #ffffff;
}
form {
    padding: 20px;
}
div {
    border-color: black;
    padding: 25px;
}
p {
    font-family: Arial, 'Helvetica neue', Helvetica, sans-serif;
    text-align: left;
    margin-left: auto;
}
#submit {
    font-weight: bold;
    background-color: #4aaaa5;
    color: #ffffff;
}
#profile-picture {
    float: left;
    margin-right: 10px;
}